.user-data{
    padding: 2.5vh 0;
    margin: 0 15vw;
    box-shadow: 0px 0px 2px #888;
}

.user li p {
    font-size: 120%;
    padding:0.3vh 0;
    padding-left: 2vw;
}

.user li p a{
    text-decoration: none;
    color: white;
    background-color: #2b2c2f;
    padding:0.4vh;
    box-shadow: 0px 0px 2px #6282e3;
    margin: 2vh;
}

.user li p a:hover{
    box-shadow:none;
    background-color: #1c1d1f;
    color: rgb(222, 221, 221);
}

.delete-button{
    position: absolute;
    color: #dde3f0;
    border-radius: 80%;
    border: 0.5px solid black;
    padding:7px;
    text-align: right;
    cursor: pointer;
    font-size: 105%;
    background-color: #1d1f25;
    
}

.user li{
    color:#dde3f0;
    list-style: none;
    text-align: left;
    margin: 5vh
}

.user li p,.user-data{
    background-color: #1d1f25;
}

.form-group{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 3vw;
}


