#register-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:8vh;
    padding-bottom: 5vh;
    align-items: center;
}

#register-inputs input{
    color: white;
    padding: 10px;
    padding-bottom: 4px;
    font-size: 110%;
    border: 1px solid black;
    margin: 0 5vw;
    box-shadow: 0px 0px 5px black;
    background-color: #323642;
}

#register-inputs p{
text-align: center;
margin-bottom: 2vh;
font-size: 125%;
color:white
}

#register-inputs-line1{
    display: flex;
    flex-direction: row;
}

#register-inputs-line2 p{
    margin-top: 2vh;
}

#register-inputs-line2 input{
    min-width: 40vw;
}

#register-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15vw;
}

#register-div button{
    font-size: 110%;
    min-width: 16vw;
    padding: 1vh;
    cursor:pointer;
    background-color: #1d1f25;
    color:white;
    transition-timing-function: ease;
    transition-duration: 0.3s;
}



#register-div button:hover{
    background-color: #161618;
}

#erroActive{
    background-color: rgb(225, 50, 50);
    padding: 0.8vh 1vh;
    font-size: 120%;
    margin-bottom: 4vh;
    box-shadow: 0px 1px 12px red;
    color: white
}